/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
  font-family: "Permanent Marker";
}

.btn-large {
  height: 100px;
  line-height: 100px;
  width: 300px;
  font-family: "Permanent Marker";
  font-size: 24px;
}

.button-collapse {
  color: #26a69a;
}

h1 {
  font-family: "Permanent Marker";
  text-shadow: 1px 2px #ffffff;
}
.parallax {
  opacity: 0.5;
}

.parallax-container {
  min-height: 280px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

/*.btn-large {
  font-family: "Comic Book";
}*/

h3 {
    font-family: "Permanent Marker";
    color: red;
    text-shadow: 1px 2px #0d47a1;
  }

h4 {
    font-family: "Permanent Marker";
    color: yellow;
    text-shadow: 1px 2px #0d47a1;
  }

.char-img {
  width: 80%;
  /*height: 75%;*/
}

.summary {
  padding: 1px 1px 1px 25px;
  text-align: left;

}
/*.preloader-wrapper {
  display: inline;
}*/

#result {
  font-family: "Permanent Marker";
  font-size: 33px;
  /*color: red;*/
  /*text-shadow: 1px 2px #0d47a1;*/
  min-height: 650px;
  /*line-height: 0;
  height: auto;*/
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
